@font-face {
  font-family: "press-start";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

$colour1: #0d0221;
$colour2: #ff4f69;
$colour3: #00f0ff;
$colour4: #faff00;

$fontColour1: #ffffff;
$fontColour2: #aaaaaa;

$font1: "press-start";
$font2: "VT323", monospace;

$header-height: 42px;
