@import "./variables";

* {
  box-sizing: border-box;
  color: $fontColour2;
  font-family: $font2;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $fontColour1;
  font-family: $font1;
  text-transform: uppercase;
}

.app {
  background-color: $colour1;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  .header {
    height: $header-height;
    .title {
      font-size: 26px;
      margin-top: 7px;
      text-align: center;
    }
  }
}
